.cta-button-made{
  display: flex;
  justify-content:center;
  align-items: center;
  cursor:pointer;
  margin:4px;
  padding:12px 10px;
  font-size: var(--button-font-size);
}

.cta-button-edit{
  display: flex;
  justify-content:center;
  align-items: center;
  cursor:pointer;
  margin:4px;
  padding:0px;
  font-size: var(--button-font-size);
}

.button__container{
    margin-top:15px;
    display:flex;
    align-content: center;
    justify-content: start;
    position:relative;
    width:100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.input-before{
  text-align: left;
  color:#8d949e;
  display: flex;
  align-content: center;
  justify-content:start;
  font-size: 0.9em;
  margin-top:0px;
  padding:0px 8px;
  width: 100%;
  font-family: Noto Sans KR;
  font-weight: 500;
}