.recent-color-button{
    border-radius:5px;
    width:40px;
    height:40px;
    display: block;
    cursor: pointer;
    /* border:1px solid rgba(0, 0, 0, 0); */
    margin-left:5px;
    display:flex;
    justify-content: center;
    align-items : center;
    /* font-size: 13px; */
    box-shadow: var(--default-shadow-01);
    flex-direction: column;
}
.recent-color-text{
    font-size: 11px;
}
.color-close{
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-family: 'S-CoreDream-7ExtraBold';
    color: black;
}