.custom-input__container{
    display:flex;
    justify-content:center;
}

.edit-input{
    background-color:#F2F6FA;
    border-radius: 29px;
    border:none;
    padding:15px 20px;
    width:100%;
    font-size: 16px;
}

.edit-input:focus {
    outline:1px solid #333333;
}