.bg1{
    background-color:var(--main-color);
    color:white;
}

.bt2{
    background-color:rgba(255, 255, 255, 0);
    color:var(--main-color);
}

.mt30{
    margin-top:50px;
}

.osb2{
    font-size:2em;
}

.main-page-container{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
}

.one-section-big{
    text-align: left;
    font-size:1.7em;
    font-family:Pretendard-ExtraBold;
    line-height: 1.4em;
    box-sizing: border-box;
    z-index:2;
    background-color:rgba(0,0,0,0);
}

.one-section-small{
    text-align:left;
    font-size:0.8em;
    margin-top:40px;
    font-weight: 400;
    line-height: 2rem;
    font-family:Pretendard-Regular;
    box-sizing: border-box;
    z-index:1;
    background-color:rgba(0,0,0,0);
}

.main__button{
    cursor: pointer;
    background-color:#6a63f7;
    border-radius:8px;
    color:white;
    padding:18px 40px;
    display: flex;
    align-items:center;
    justify-content : center;
    font-size: 16px;
    border:none;
    margin-top:50px;
    text-decoration: none;
}

.main__button2{
    cursor: pointer;
    background-color:rgba(8, 8, 8, 0.685);
    border-radius:6px;
    color:white;
    padding:18px 40px;
    display: flex;
    align-items:center;
    justify-content : center;
    font-size: 16px;
    border:none;
    margin-top:50px;
    text-decoration: none;
    font-weight:700;
    z-index:2;
}

.main__button2:hover{
    background-color:rgba(8, 8, 8, 0.959);
}

.main-page-section1{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content : center;
    align-items : center;
    padding:5% 0%;
    box-sizing: border-box;
    position: relative;
}

.main-section-left{
    width: 40%;
    height: 100%;
    display:flex;
    justify-content : start;
    align-items : start;
    flex-direction: column;
    box-sizing: border-box;
}

.main-section-right{
    width: 40%;
    height: 100%;
    display:flex;
    justify-content : center;
    align-items : center;
    box-sizing: border-box;
}

.section-image{
    width:32vw;
    height:auto;
    border-radius: 8px;
    background-color:white;
}
.func-icons{
    width:30px;
    color:#6a63f7;
}

.main-page-section-topbottom{
    padding-top:6%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
}

.one-section-big-topbottom{
    text-align: center;
    font-weight: 500;
}
.section__image{
    margin-top:30px;
    height:320px;
}

.info__table{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:start;
    margin:40px 0px;
    z-index:1;
}

.main__feature{
    display: block;
    justify-content: start;
    align-items:center;
    flex-direction: column;
    width:20%;
    margin:10px 20px;
}

.feature__icon{
}

.main-feature__title{
    text-align: center;
    width: 100%;
    font-weight: 700;
    margin-top:13px;
    font-size: 0.7em;
}

.main-feature__desc{
    width: 100%;
    text-align: center;
    margin-top:17px;
    font-weight: 600;
    font-size: 0.5em;
}


@media screen and (max-width:800px){
    .main-page-container{
        font-size: 22px;
    }
    .main-page-section1{
        flex-direction: column;
    }
    .section-image{
        margin-top:30px;
        width:70vw;
    }
    .one-section-big{
        text-align: center;
        width:100%;
    }
    .one-section-small{
        text-align: center;
        width:100%;
        font-size: 0.7em;
    }
    .main-section-left{
        width: 80%;
        height: 100%;
        display:flex;
        justify-content : start;
        align-items : start;
        flex-direction: column;
    }
    .section-one-image-main-topbottom{
        margin-top:2%;
        height:58vw;
        width:80vw;
    }
    .info__table{
        width:100%;
    }
    .main__feature{
        width:22vw;
        margin:10px 6px;
    }
    .main-feature__title{
        font-size: 0.6em;
    }
}

.arrow-hover:hover{
    font-weight:600;
}