.edit-input{
    background-color:#F2F6FA;
    border-radius: 29px;
    border:none;
    padding:15px 20px;
    width: 372px;
}
.make-button{
    width: 52px;
    padding: 5px 9px;
    border: none;
    border-radius: 15px;
    background-color: #A89AFF;
    position: absolute;
}