:root {
    --main-color: #6B63F7;
  }

.radio-element{
    padding:3px 10px;
    cursor:pointer;
}

.r-first{
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.r-end{
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

/* 아래는 버튼 선택 테이블 */

.button-table{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    flex-wrap: wrap;
    padding:10px 0px;
}

.button-container{
    width:180px;
    cursor:pointer;
    padding:10px 10px;
}

/* 아래는 색상 선택 테이블 */

.color-button{
    border-radius:5px;
    width:27px;
    height:27px;
    display: block;
    cursor: pointer;
    border:2px solid rgba(0, 0, 0, 0);
    margin:1%;
}

.color-button:hover{
    border:2px solid black;
}

/* 아래는 콘텐트 이미지 추가 관련 css */
.put-img-div{
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin:10px 10px 10px 20px;
    text-align: center;
    background-repeat : no-repeat;
    background-size : cover;
}
.img-remove{
    cursor: pointer;
    float: right;
    background-color: none;
    width: 20px;
    z-index: 99;
    height: 20px;
}
.img-command{
    vertical-align: middle;
    width: 78px;
    height: 48px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 35%;
}
.text-size__input{
    width:30px;
    padding:6px 5px;
    margin-left:10px;
}