:root {
    --main-color: #6B63F7;
  }

.radio-element{
    padding:3px 10px;
    cursor:pointer;
}

.r-first{
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.r-end{
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

/* 아래는 버튼 선택 테이블 */

.button-table{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    flex-wrap: wrap;
    padding:10px 0px;
}

.button-container{
    width:180px;
    cursor:pointer;
    padding:10px 10px;
}

/* 아래는 색상 선택 테이블 */

.color-button{
    border-radius:20px;
    width:27px;
    height:27px;
    display: block;
    cursor: pointer;
    border:2px solid rgba(0, 0, 0, 0);
    margin:1%;
}

.color-button:hover{
    border:2px solid black;
}