.accordion{
    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width:95%;
    box-sizing: border-box;
}

.accordion__header{
    display: flex;
    flex-direction: column;
    cursor:pointer;
    box-sizing: border-box;
}

.accordion__header:hover{
    color:var(--main-color);
}

#panel1a-header:hover{
    color:var(--main-color);
}

.accordion__body{
    display: flex;
    flex-direction: column;
    justify-content :center;
    align-items :center;
    box-sizing: border-box;
    width:100%;
}