
.select-hover{
    cursor:pointer;
    background-color:white;
    display: flex;
    justify-content: start;
    align-items : center;
    height:50px;
    padding-left:15px;
}

.select-hover:hover{
    background-color:rgba(220,220,220,1);
}

.select-open-button{
    width:100%;
    border: 1px solid var(--make-border);
    border-radius: 2px;
    cursor:pointer;
    font-size:1em;
    font-family: Pretendard-Regular;
    height:40px;
}

.so__container{
    border:none;
}

.select-button__content{
    width:100%;
    display: flex;
    justify-content: start;
    align-items : center;
    font-family: Pretendard-Regular;
    font-size:1em;
}

.MuiPopover-paper{
    width:192px;
    border: 1px solid var(--make-border);
    border-top:none;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: none;
}