.make-page-nav{
    height: 60px;
    width: 100%;
    position:fixed;
    display: flex;
    flex-direction: row;
    font-family: Noto Sans KR;
    font-size: 14px;
    z-index:130;
    background-color:rgba(251, 251, 251, 1);
}

.make-page-nav-half{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.make-nav-left-text{
    width:70px;
    color:black;
    margin-left:1vw;
    cursor: pointer;
    padding:3px 0px;
    text-decoration: none;
    padding:3px 10px;
}

.make-nav-left-text:hover{
    color:black;
    background-color: #6a63f7b0;
}

.make-nav-button{
    background-color:rgba(0,0,0,0);
    color:rgba(105,105,105,1);
    border-radius: 25px;
    display: flex;
    align-items:center;
    justify-content:center;
    width:120px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    box-shadow: var(--non-hover-button-shadow);
}

.make-nav-button:hover{
    background-color:var(--main-light-gray);
    box-shadow: var(--default-shadow-01);
}

.nb-clicked{
    background-color:#6a63f773;
    color:black;
}
.nb-clicked:hover{
    background-color:#6a63f773;
}

.edit-nav-home-button{
    color:var(--main-color);
    border:none;
    background-color:rgba(0,0,0,0);
    cursor: pointer;
    font-size:30px;
    font-family: Noto Sans KR;
    letter-spacing: -0.02em;
    font-weight: 800;
}

.device-button{
    padding:10px 10px;
    border-radius:5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction:row;
    width:100%;
}
.device-button:hover{
    background-color:rgba(150,150,150,0.1);
}

.device__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
}