.nav-button-round-v2{
    border-radius:20px;
    width:130px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items : center;
    background-color:#6a63f7;
    margin-left:16vw;
    color:white;
    border:none;
    cursor: pointer;
}

.nav-button-square{
    border-radius:3px;
    padding:11px 15px;
    display: flex;
    justify-content: center;
    align-items : center;
    background-color:#6a63f7;
    margin-left:16vw;
    color:white;
    border:none;
    cursor: pointer;
}

.nav-left-text{
    color:black;
    margin-left:2vw;
    cursor: pointer;
    padding:3px 0px;
    border-radius: 5px;
    text-decoration: none;
}
.nav-left-text:hover{    
    color:var(--main-color);
}


.nav-on-v2{
    display: flex;
    align-items :center;
    width:100%;
    cursor:pointer;
    justify-content : center;
    margin-right:5vw;
}

.nav-bar-container-v2{
    position: fixed;
    top: 0;
    z-index:3;
    height:60px;
    margin-bottom:60px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items : center;
    color:rgb(106, 99, 247);
    background-color:white;
    font-weight: 500;
}

.nav-bar-left-v2{
    display: flex;
    justify-content: center;
    align-items : center;

    width:100%;
}
.nav-bar-title-v2{
    font-size:36px;
    font-weight: 700;
    text-align:start;
    padding-left:20%;
    text-decoration: none;
}
.footer{
    background-color: rgb(245, 245, 245);
    border-top:1px solid rgb(230,230,230);
  height:200px;
  display: flex;
  justify-content : start;
  align-items : start;
  color:rgb(171, 171, 171);
  font-weight:400;
  flex-direction: row;
  width:100%;
  box-sizing: border-box;
  font-size:14px;
}

.footer-item{
  margin-top:7px;
  width:100%;
  display: flex;
  justify-content : end;
  align-items : end;
}


.footer-more{
    width:100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content :start;
    align-items : center;
    height: 100%;
    box-sizing: border-box;
    padding:1vh 5vw;
  }

.footer-text-click{
  color:rgb(131, 131, 131);
    text-decoration: none;
}

.footer-text-click:hover{
    color:black;
}

@media screen and (max-width:800px){
    .nav-bar-title-v2{
        font-size:25px;
        font-weight: 700;
        text-align:start;
        padding-left:1%;
    }

    .nav-bar-left-v2{
        width:70%;
        font-size:14px;
    }

    .nav-on-v2{
        width:30%;
        margin-right:5vw;
    }
    
    .nav-button-round-v2{
        width:100px;
        height:30px;
        font-size:12px;
        margin-left:5vw;
    }
}