:root{
    --ck-color-base-focus:black;
    --ck-color-base-active:black;
    --ck-color-base-active-focus:black;
}

.ck.ck-editor__editable_inline>*:last-child{
    margin:0px;
}

.ck.ck-editor__editable_inline>*:first-child {
    margin: 0px;
}

.ck{
    padding:0px;
}

.ck ~ p{
    padding:0px;
    margin:0px;
}

.ck p{
    padding:0px;
    margin:0px;
}

.ck span{
    padding:3px 1px;
}

.ck-editor__editable_inline{
    padding:0px;
}

.ckeditor-container{
    border-radius: 0px;
    border: 1px solid rgba(231, 0, 0, 0);
    padding:0px;
}

.ck-editor__editable{
    min-width:30px;
    padding:0px;
}

.ck.ck-editor__editable_inline{
    padding:0px 0px;
    overflow: hidden;
}

.ckeditor-container:hover{
    border:1px solid rgba(200,200,200,0.7);
}
.ckeditor-container:focus{
    outline:1px solid #6e6e6e;
}

.ck-body{
    padding:0px;
    background-color:black;
}

.ck-media__placeholder__url__text{
    color:blue;
}                                                                            

.ck a{
    color:black;
    background-color: rgba(0,0,0,0);
}