.one-contents-draggable{
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin:10px;
}

.one-contents-draggable:hover{
    background-color:#c6c3ff;
}

.one-contents__inner{
    border-radius: 5px;
    cursor:pointer;
    padding:5px;
    height:100%;
    width:100%;
}