

.edit__top-bar{
    /* background-color:#6B63F7; */
    padding:20px 1% 1% 1%;
    width:100%;
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    justify-content :start;
    align-items :center;
    margin-left: 20px;
}

.edit-radios{
    display: flex;
    padding:3px;
    margin-left:3px;
    cursor:pointer;
    font-size: var(--section-top);
    color:var(--main-gray);
    font-weight: 700;
}

.edit-radios:hover{
    color:var(--main-black-01);
}

.er-clicked{
    color:var(--main-black-01);
    margin-top: 3px;
    border-bottom:3px solid var(--main-black-01);
}