.edit__top-bar{
    padding:0px 15px 0px 10px;
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    justify-content :start;
    align-items :center;
    position: relative;
    background-color:rgb(255, 255, 255);
    border-radius: 20px 20px 0px 0px;
}

.fixed{
    position: fixed;
    background-color:rgb(255, 255, 255);
}

.edit-radios{
    display: flex;
    padding:3px;
    margin-left:3px;
    margin-right: 10px;
    cursor:pointer;
    font-size: var(--section-top);
    color:var(--main-gray);
    font-weight: 700;
}

.edit-radios:hover{
    color:var(--main-black-01);
}

.er-clicked{
    color:var(--main-black-01);
    margin-top: 3px;
    border-bottom:3px solid var(--main-black-01);
}

.top-bar__fixed{
    width:28vw;
    background:white;
    z-index:2;
    border-radius: 0px 20px 0px 0px;
    position:fixed;
    border-bottom:1px solid rgb(233, 233, 233);
}