
.image{
    z-index: 1;
    width:500px;
    height:auto;
}

.image-input{
    opacity: 0;
    position:absolute;
    z-index:2;
    cursor: pointer;
}
.image-input:hover{
    border:1px dashed rgba(240,240,240,1);
}

.action-button{
    border:none;
    padding:5px 15px;
    border-radius:2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    font-size:1em;
    width:fit-content;
    cursor: pointer;
}

