.feature__card{
    border-radius: 2px;
    width:300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: start;
    margin-bottom:8px;
}

.features__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    box-sizing: border-box;
    margin-top:20px;
}

.feature-upload-button{
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    transition: all .2s ease-in-out;
}

.feature-upload-button:hover{
    transform: translate(0px, -4px);
    box-shadow:0px 3px 8px rgba(50,50,50,0.2);
}

.feature-upload-file{
    /* visibility: hidden; */
    cursor: pointer;
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    z-index:3;

    opacity: 0;
    
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

.one-icon-select{
    display:block;
    padding:7px;
    margin:5px;
    border-radius: 3px;
}
.one-icon-select:hover{
    background-color: var(--main-light-gray);
}

.overflow-scrolling2{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.icon-select__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    flex-wrap:wrap;
    z-index:2000;
}

.feature-title{
    font-size:var(--feature-title-size);
}
.feature-desc{
    font-size:var(--feature-desc-size);
}
.feature-writer{
    font-size:var(--feature-writer-size);
    /* color:'rgba(150,150,150,1)' */
}