.slide-box{
    z-index: 1;
    width:200px;
}
.video{
    z-index: 1;
    width: 200px;
}

.mobile-container{
    width: 400px;
    position: relative;
    float: left;
}
.mobile-ex{
    z-index: 99;
    position: relative;
}
.upload-mobile{
    width: auto;
    height: 100%;
    z-index:1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20%;
}
.desk-container{
    position: relative;
    float: left;
}
.upload-desk{
    width: 80%;
    height: 100%;
    z-index:1;
    position: absolute;
    top: 0px;
    left: 10%;
    border-radius: 5%;
}
.mobbesk-container{
    position: relative;
    float: left;
}
.text__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.image__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.button__container{
    margin-top:15px;
    display:flex;
    align-content: center;
    position:relative;
    width:100%;
}

.store-button{
    height:50px;
    cursor:pointer;
}

#video-area {
    position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
    padding-bottom: 56.25%; /* 16:9 비율 */
  }
  
#video-content {
    position: absolute;
    width: 100%; /* 부모에 맞게 꽉 채운다. */
    height: 100%;
}

.input-placeholder{
    background-color:white;
    border : 1px solid var(--main-light-gray);
    width:250px;
    border-radius: 3px;
    margin-right:8px;
    padding:var(--made-button-padding);
    font-size:var(--button-font-size);
}