
.reviews__container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}

.df-margin{
    margin-top:5px;
    width:100%;
}
.df-margin-big{
    margin-top:8px;
    width:100%;
    box-sizing: border-box;
}
.df-margin-small{
    display:flex;
    margin-top:-2px;
    width:100%;
}