.response__container{
    font-size:20px;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    flex-direction:column;
}

.get-all-container{
    width:90%;
    font-family: Noto Sans KR;
}

.get-up-container{
    display: flex;
    justify-content: start;
    align-items:center;
    flex-direction: column;
    text-align:left;
}

.get-up-title{
    width:100%;
    padding:1% 3%;
    font-size:0.8em;
    color:black;
    font-weight:bold;
    display: flex;
    flex-direction: row;
}

.get-buttons-container{
    display: flex;
    width:100%;
    justify-content: start;
    align-items:start;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.response-subtext{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    font-size: 0.95em;
    margin-left:30px;
    color: #EB8A8A;
}

.get-buttons-container button{
    display: flex;
    justify-content: center;
    align-items:center;
    padding:10px 30px;
    border: 1px solid #6a63f76e;
    border-radius:20px;
    margin:1%;
}

.response-display__container{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    padding:10px 20px;
    box-sizing: border-box;
}

.response-table{
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
    padding:20px 20px;
    width: 100%;
}

.response-table-top{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    font-weight: 600;
    width: 100%;
}

.response-table-one-content{
    padding:10px 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.response-table-title{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    font-size:0.8em;
    width:100%;
}

.response-table-datas{
    margin-top:2%;
    width: 100%;
}

.datas-container{
    width:100%;
}

.data-one-mini-card{
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius:10px;
    width:10%;
    padding:3% 0%;
    margin:1%;
}

.mylandings-card{
    display: flex;
    flex-direction: column;
    justify-content :center;
    width:20%;
    border-radius:3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    cursor:pointer;
    margin:1%;
    padding:5px 0px;
}

.get__mylandings-cantainer{
    width:100%;
    display:flex;
    align-items : center;
    justify-content: start;
    flex-direction:row;
}

.response-down__container{
    background: #F2F6FA;
    box-shadow: var(--main-shadow-01);
    border-radius: 10px 10px 10px 10px;
    margin-top:5vh;
}

@media screen and (max-width:800px){
.response-all-container{
    width:90%;
}
}
