

.for-section-hover{
    height:100%;
    width:190vw;
    position:absolute;
    z-index:1;
}

.section-selection-container{
    position: absolute;
    z-index: 10;
    flex-direction:column;
    left:15vw;
}

.section-template-button{
    cursor: pointer;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    padding:10px 5px;
}

.section__container{
    display:flex;
    flex-direction:row;
    width:100%;
    z-index: 10;
    position:relative;
}
.section__container-inner{
    font-size:0.6em;
    width:100%;
    z-index: 4;
}

.make-hover-section{
    width:100%;
}

.section-adding-template{
    background-color:white;
    font-size:0.8em;
}

.section-option{
    background-color:rgb(134, 134, 134);
    color:white;
    font-size:0.5em;
    margin:3%;
    cursor: pointer;
    border-radius: 5px;
    width:40px;
    height:40px;
    justify-content :center;
    align-items : center;
    display: flex;
}


.new-section{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    position:relative;
    overflow:visible;
}

.cta-button-made{
    display: flex;
    justify-content:center;
    align-items: center;
    cursor:pointer,
}

.section__box{
    width:97%;
    height:90%;
    top:5%; 
    left:1.5%;
    z-index:3;
    position:absolute;
}