.make-footer{
  width:100%;
  z-index:3;
  display: flex;
  justify-content: center;
  align-items : center;
  flex-direction: row;
  position:relative;
}

.make-footer__container{
  width:100%;
  z-index:13;
  display: flex;
  justify-content: center;
  align-items : center;
  flex-direction: row;
  position:relative;
}

.footer-item{
  width:100%;
  display: flex;
  justify-content : start;
  align-items : center;
}

.footer-section{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content :flex-end;
}

.footer-icon{
  width:27px;
  margin:3px;
  cursor:pointer;
}

.copyright-box{
  margin: 0 auto;
  margin-top: 50px;
}

.footer-text-input{
  width: 100%;
}

.icon-box{
  margin-top:10px;
  display:flex;
  height:100%;
  width:100%;
  flex-wrap:wrap;
}