.type-selection{
    border:1px solid rgb(230,230,230);
    width:90%;
    border-radius: 3px;
    padding:5px 5px;
    margin:1%;
    cursor: pointer;
}

.section-make__inner-container{
    display:flex;
    flex-direction: column;
}

.add-section__container{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    height:100%;
}

.type-selection__container{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width:40%;
    height:100%;
}

.template-selection__container{
    display:flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    width:60%;
}

.back__container{
    scroll-behavior: smooth;
    padding:5px 15px 0px 15px;
    display: flex;
    justify-content:start;
    align-items:center;
}

.white-box{
    background-color: white;
}

/* <<<<<<< HEAD */
/* .section-top{
    padding-left: 22px;
    padding-top: 20px;
    margin-bottom: -10px;
    width: 250px;
    display: flex;
    font-size: 18px;
} */

.back__container-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:6px 11px 6px 8px;
    border-radius: 8px;
    font-weight: bold;
    z-index: 1001;
    background-color: white;
    /* box-shadow: var(--default-shadow-01); */
}
.back__container-button:hover{
    background-color:var(--main-light-gray);
}
.back-button{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-right: 6px; 
}

.back-text{
    width: 100%;
    height: auto;
    /* padding-top: 1px; */
    font-size: 16px;
    font-weight: 700;
    font-family: Noto Sans KR;
}

