.type-selection{
    border:1px solid rgb(230,230,230);
    width:90%;
    border-radius: 3px;
    padding:5px 5px;
    margin:1%;
    cursor: pointer;
}

.section-make__inner-container{
    display:flex;
    flex-direction: column;
}

.add-section__container{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    height:100%;
}

.type-selection__container{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width:40%;
    height:100%;
}

.template-selection__container{
    display:flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    width:60%;
}

.back__container{
    height:40px;
    padding:5px;
    display: flex;
    justify-content:start;
    align-items:center;
}

.back-button{
    border:1px solid black;
    border-radius: 2px;
    padding:2px;
    width:30px;
    display:flex;
    justify-content:center;
    align-items: center;
}

.back-button:hover{
    background-color:rgba(200,200,200,0.3);
}

.back-text{
    margin-left:10px;
}

