:root{
    --edit-main-border-color:rgba(0,0,0,0.2);
    --edit-main-padding:5px 10px;
}

.edit-element{
    width:100%;
    display:flex;
    justify-content: center;
    align-items : center;
    box-sizing: border-box;
    padding:var(--edit-main-padding);
    /* border-bottom:1px solid var(--edit-main-border-color); */
}

.border{
    border: 1px solid var(--edit-main-border-color);
}

.edit-element__one{
    display: flex;
    justify-content: start;
    align-items : center;
    flex-direction: row;
    width:100%;
}

.edit-element__box{
    width:95%;
    border-radius: 5px;
    border: 1px solid var(--edit-main-border-color);
    box-sizing: border-box;
}

.edit-element__left{
    display: flex;
    justify-content: start;
    align-items : center;
    /* padding:10px 10px 10px 20px; */
    width:100%;
}

.edit-element__right{
    display: flex;
    justify-content: end;
    align-items : center;
    /* padding:10px 10px 10px 10px; */
    width:100%;
}

.edit-element__more{
    display: flex;
    justify-content: center;
    align-items : center;
    width:100%;
    border-left: 1px solid var(--make-border);
}

.no-border{
    border: none;
}

.one-element{
    width:100%;
    display:flex;
    justify-content: center;
    align-items : center;
    padding:5px 0px;
}


.custom-button{
    display: flex;
    align-items : center;
    justify-content : center;
    padding:5px 13px;
    cursor:pointer;
}
