:root{
    --edit-main-border-color:rgba(0,0,0,0.2);
    --edit-main-padding:5px 10px;
}

.edit-element{
    width:100%;
    display:flex;
    /* justify-content: center; */
    align-items : center;
    box-sizing: border-box;
    padding:var(--edit-main-padding);
    margin:4px 0px;
    /* border-bottom:1px solid var(--edit-main-border-color); */
}

.edit-element-bar{
    margin-right: 20px;
    height: 87px;
    margin-top: 40px;
    border: 1px solid #E8F0F9;
}

.switch-element{
    width:100%;
    display:flex;
    align-items : center;
    box-sizing: border-box;
    padding:var(--edit-main-padding);
}
.switch-text{
    width: 75px;
    font-size: var(--func-subtitle);
    font-weight: 700;
}

.border{
    border: 1px solid var(--edit-main-border-color);
}

.edit-element__one{
    display: flex;
    justify-content: start;
    align-items : center;
    flex-direction: row;
    width:100%;
}

.edit-element__box{
    width:95%;
    border-radius: var(--br-01);
    box-sizing: border-box;
    box-shadow: var(--default-shadow-01);
    padding:10px 15px;
}

.edit-element__left{
    display: flex;
    justify-content: start;
    align-items : center;
    /* padding:10px 10px 10px 20px; */
    width:100%;
    font-size: var(--func-subtitle);
    font-weight: 700;
    /* padding-left: 31px; */
}
.switch-element__left{
    margin-right: 13px;
    margin-left: 21px;
}
.onoff-title{
    padding-left: 0px;
    width: 100%;
    height: 100%;
}

.edit-element__right{
    display: flex;
    justify-content: end;
    align-items : center;
    /* padding:10px 10px 10px 10px; */
    width:100%;
    height: 100%;
}
.edit-element__bottom{
    display: flex;
    justify-content: start;
    align-items : center;
    /* padding:10px 10px 10px 10px; */
    width:100%;
    height: 100%;
    margin-top:16px;
}

.edit-element__more{
    display: flex;
    justify-content: center;
    align-items : center;
    width:100%;
    border-left: 1px solid var(--make-border);
}

.no-border{
    border: none;
}

.one-element{
    width:100%;
    display:flex;
    justify-content: center;
    align-items : center;
    padding:7px 0px;
}

.custom-button{
    display: flex;
    align-items : center;
    justify-content : center;
    padding:15px 25px;
    cursor:pointer;
    font-size: var(--button-font-size);
    color: var(--main-dark-gray);
    font-weight: 700;
}

.custom-button:hover{
    color: var(--main-color);
    background-color: #FFFFFF;
}

