.animation-select__card{
    background-color:rgb(230, 230, 230);
    box-shadow:1px 1px 3px rgba(0,0,0,0.3);
    margin:1%;
    cursor:pointer;
    padding:5% 3%;
}

.animation-select__container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.animation-select__outer-container{
    display: flex;
    justify-content :center;
}