.response-page-card{
    display:flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    width: 28vw;
    height: 120px;
    padding:15px;
    background-color:#ffffff;
    /* 기본 섀도우 01 */
    /* box-shadow: 2px 4px 20px #E8F0F9; */
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    margin-right:20px;
    font-family: Noto Sans KR;
    font-size:1.2em;
}

.response-card-main-color{
    font-size:0.8em;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    
    color: #8273E1;

}

.card__title{
    font-weight: 700;
    font-size: 0.85em;
    line-height: 1.1em;
    display: flex;
    align-items: center;
    width: 80%;
    padding-left:4px;
    color: #202936;
}

.option-selects{
    cursor: pointer;
    padding:7px 5px;
    display: flex;
    justify-content: start;
    align-items : center;
    border-radius:3px;
    font-size: 0.85em;
}

.option-trigger-button{
    width:35px;
    height:35px;
    border-radius:5px;
    border:1px solid rgb(219, 219, 219);
    display: flex;
    justify-content:center;
    align-items : center;
}