
.vote-one__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 18px 18px 36px rgba(0, 0, 0, 0.15), inset 6px 4px 16px rgba(108, 99, 255, 0.1), inset -12px -8px 16px rgba(108, 99, 255, 0.25);
    border-radius: 20px;
    padding:30px 20px;
    margin:10px;
}

.morphism-button{
    background: #FFFFFF;
    box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.15), inset 3px 2px 4px rgba(108, 99, 255, 0.1), inset -6px -4px 8px rgba(108, 99, 255, 0.25);
    border-radius: 20px;
    margin:20px 0px;
    padding:20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    cursor:pointer;
}

.morphism-button:hover{
    transform: translate(0px, -5px);
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.25), inset 3px 2px 4px rgba(108, 99, 255, 0.1), inset -6px -4px 8px rgba(108, 99, 255, 0.25);
}


.vote-title{
    font-size:1.3em;
    font-weight:700;
    margin:5px;
}

.soft-purple__container{
    background: #A5A0FF;
    box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding:40px 30px;
    width:80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}

.soft-purple-linear{
    color:white;
    background: linear-gradient(107.63deg, rgba(255, 255, 255, 0.456) -16.26%, rgba(255, 255, 255, 0) 100.97%);
    border-radius: 30px;
    border:1px solid rgba(0,0,0,0.25);
    margin:15px 0px;
    padding:20px;
    text-align: center;
    font-size:1.4em;
    font-weight: 700;
    width:90%;
}

.vote-option{
    background: #FFFFFF;
    box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width:170px;
    height:130px;
    place-items:center;
    margin:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition: all .2s ease-in-out;
    font-size:1em;
    font-weight:700;
    padding:0px 30px;
}

.vote-option:hover{
    transform: translate(0px, -5px);
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.25);
}

.click-text{
    margin:5px 0px;
    text-decoration: underline;
    cursor:pointer;
    font-size:1.1em;
}