@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KRRE';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KRBO';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

@font-face {
     font-family: 'S-CoreDream-7ExtraBold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF_HambakSnow';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --make-border: rgb(192, 192, 192);
  --main-color: #6B63F7;
  --main-color-soft:#A89AFF;
  --main-font-color: #202936;
  --main-hover-color: #b3b0f5;

  --default-shadow-01: 2px 4px 20px #E8F0F9;
  --br-01: 25px;
  --br-02:32px;
  --main-gradient:linear-gradient(180deg, #9281FF 0%, #6C63FF 100%);
  --main-shadow-01:4px 4px 15px #D0CDFF;
  --main-shadow-02:2px 2px 8px rgba(0,0,0,0.25);

  --main-gray:#C4CACF;
  --main-light-gray:#e1e5e9;
  --main-dark-gray: #555C67;
  --main-black-01:#202936;
  --main-light-gray-02:#F2F6FA;

  --section-top: 22px;
  --section-main: 16px;
  --func-title: 15px;
  --func-subtitle: 14px;
  --small-text: 12px;

  --button-font-size : 13px;
  --input-font-size: 13px;
  --made-button-padding: 8px 8.5px;

  --feature-title-size:1.2em;
  --feature-desc-size:0.9em;
  --feature-writer-size:0.8em;

}

.App {
  text-align: center;
  padding-top:60px;
  font-size:15px;
  background-color:#6a63f700;
  font-family: Pretendard-Regular;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.insta{
  color:rgb(131, 131, 131);
  text-decoration: none;
}
.insta:hover{
  color:rgb(50,50,50);
}
.mobile-hide{
  display: none;
}

.default-button-02{
  display: flex;
  align-items: center;
  justify-content:center;
  background:var(--main-gradient);
  box-shadow: var(--main-shadow-01);
  border-radius: var(--br-02);
  color:white;
  font-size: 15px;
  border:none;
  padding:0px 35px;
  height:40px;
  cursor: pointer;
}

.center-row{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height:100%;
  width:100%;
  box-sizing:border-box;
}

.center-column{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
  width:100%;
  box-sizing:border-box;
}

.centera{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  box-sizing:border-box;
  font-size: var(--func-subtitle);
  font-weight: 700;
}

.input-centera{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  box-sizing:border-box;
}

.left{
  display:flex;
  justify-content: start;
  align-items: center;
  width:50%;
  padding-left:5px;
}

.left-top{
  display:flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-left: 22px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.right{
  display:flex;
  justify-content: end;
  align-items: center;
  width:50%;
  padding-right:5px;
}

.hover:hover{
  border:0.2px solid rgba(200,200,200,1);
  cursor:pointer;
}

.hoverback:hover{
  background-color: var(--main-hover-color);
}

.text-input{
  border:1px solid rgba(200,200,200,0);
  background-color:rgba(0,0,0,0);
  width:100%;
  overflow:hidden;
  word-wrap:break-word;
}

.text-input:hover{
  border:1px solid rgba(200,200,200,0.7);
}

.text-input:focus {
  outline:1px solid #d50000;
}

.ti:hover{
  border:1px solid rgba(200,200,200,0.7);
}

.ti:focus {
  outline:1px solid #d50000;
}

.text-input-flex{
  border:1px solid rgba(200,200,200,0);
  background-color:rgba(0,0,0,0);
  padding:var(--made-button-padding);

  font-size:var(--button-font-size);
}




@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OTWelcomeBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width:800px){
  .footer{
    padding-left: 15vw;
    font-size:10px;
    height:150px;
  }
  .mobile-hide{
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    position:absolute;
    background-color:white;
    z-index: 9999999;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
