

.modal-desc{
    text-align: center;
    font-size:1.1em;
    font-family:Pretendard-Regular;
    margin:1% 0%;
}

.modal-image{
    width:150px;
}

.modal-button-container{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top:10px;
}
.step-container{
    width:100%;
    display: flex;
    justify-content:center;
    align-items : center;
    flex-direction:row;
}

.step-one-container{
    display: flex;
    justify-content:center;
    align-items : center;
    flex-direction:column;    
}

.step-one-title{
    margin:2%;
}
.check-container{
    padding:10px 10px;
    font-family: Pretendard-Regular;
    font-size:15px;
    display: flex;
    justify-content:center;
    height:100%;
    align-items : start;
    flex-direction:column;
}

.check-form-container{
    margin-top:10%;
}

.check-title{
    font-size:1.4em;
    font-family: Pretendard-ExtraBold;
}
.check-desc{
    font-size:1.1em;
    margin-top:5%;
}

.check-button{
    margin-top:20%;
    background-color:purple;
    border:none;
    color:white;
    cursor: pointer;
    border-radius: 3px;
    padding:5px 20px;
}