.make-navigation{
    width:100%;
    z-index:5;
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: row;
    position:relative;
}

.make-nav-container{
    width:100%;
    z-index:13;
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: row;
    box-sizing: border-box;
    position:relative;
}

.make-nav-bar-title{
    font-size:0.9em;
    font-weight: 700;
    width:100%;
}

.make-nav-on{
    display: flex;
    align-items :center;
    cursor:pointer;
    justify-content : center;
    width:100%;
}
/* 
.make-nav-button{
    height:35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items : center;
    border:none;
} */

.make-nav-logoc{
    display: flex;
    justify-content:start;
    align-items : center;
    flex-direction: row;
    box-sizing: border-box;
    width:100%;
}

.make-nav-logo-image{
    display: flex;
    justify-content:start;
    align-items : center;
    margin-right:5px;
}

.make-nav-buttonc{
    display:flex;
    align-items : center;
    flex-direction: row;
    justify-content:flex-end;
    width:100%;
    box-sizing: border-box;
}

.b-one{
    border-radius:5px;
}
.b-two{
    border-radius:10px;
}
.b-three{
    border-radius:15px;
}
.b-four{
    border-radius:0px;
}

.default-logo{
    font-size: 18px;
    float: left;
    margin-left: 30px;
    z-index: 5;
}