.make-page-container{
    display:flex;
    flex-direction:row;
    justify-content : end;
    align-items :start;
    height: 100%;
    width:100%;
    overflow:hidden;
    position:relative;
    background-color:#edf0f3;
}
.section-animation{
    width: 100%;
}

.colorSelection{
    margin:10px;
    display: flex;
    justify-content : center;
    align-items :center;
    width:90px;
    height:90px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
}

.fontSelection{
    margin:10px;
    display: flex;
    justify-content : center;
    align-items :center;
    width:100%;
    height:50px;
    background-color:white;
    border-radius: 3px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    cursor:pointer;
}

.fontSelection:hover{
    border:1px 
}

.section-one-make-one{
    display: flex;
    justify-content :center;
    flex-direction:column;
    width:100%;
}

.section-selector-container{
    display: flex;
    justify-content :center;
    align-items : center;
    flex-direction:row;
}

.make-page-section-selector{
    margin:5px;
    width:70px;
    height:70px;
    border-radius:5px;
    box-shadow:1px 1px 3px rgba(0,0,0,0.2);
    cursor:pointer;
    display: flex;
    justify-content :center;
    align-items :center;
}

.section-image{
    width:200px;
    height:200px;
}

.section-one-make{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items : start;
    padding-top:10px;
}
.section-one-title-input{
    width:100%;
    font-size: 19px;
}

.file-input{
    width:30%;
}
.col-image{
    width:300px;
}
.last-section-container{
    display: flex;
    justify-content : center;
    align-items : center;
}
.make-apply-button{
    margin-top:2%;
    cursor: pointer;
    border: 5px solid white;
    background-color:white;
    border-radius:5px;
    color:black;
    width:250px;
    height:40px;
    display: flex;
    align-items:center;
    justify-content : center;
    font-size: 15px;
    text-decoration: none;
}

.make-apply-button:hover{
    background-color:white;
    color:black;
    font-weight:600;
}

.section-title{
    font-size:20px;
    color:#6B63F7;
    font-family:Noto Sans KR; 
    font-weight:700; 
    display:flex; 
    justify-content:space-between; 
    width:100%;
    padding:0px 10px;
}

.make-left-landing{
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:5px 0px 0px 0px;
    z-index: 4;
    -webkit-overflow-scrolling: touch;
    border-radius: 0px 0px 20px 20px;
}

.make-main-page-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#edf0f3;
    z-index: 10;
    overflow:visible;
    border-radius: 0px 0px 20px 20px;
    transition-property: none;
    padding-bottom:20px;
}

.scroll-container{
    overflow: auto;
    z-index:4;
    border-radius: 20px;
    overflow: visible;
}

.make-left-bottom-container{
    justify-content: center;
    align-items: center;
    height:15vh;
    width:90%;
}

.make-left-top-container{
    padding:3px 3px;
    width:80%;
    justify-content: start;
    align-items: center;
}

.make-tab-preseen{
    /* Surfee WG */
    background: #F2F6FA;
    /* 기본 섀도우 01 */

    /* box-shadow: 2px 4px 20px #E8F0F9; */
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items :center;
    justify-content:start;
    height:40px;
    position: relative;
    cursor: pointer;
}

.make-tab-circle{
    width:9px;
    height:9px;
    margin-left:6px;
    border-radius: 20px;
    background-color:white;
}

.make-tab-one-tab{
    display: flex;
    flex-direction: row;
    align-items :center;
    justify-content:center;
    background-color:#ffffff;
    opacity: 0.8;
    padding:8px 13px;
    border-radius: 8px 8px 0px 0px;
    position:absolute;
    bottom:0px;
    left:80px;
    color:#555C67;
    font-size: 12px;
}

.make-tab-url{
    padding:5px 25px 5px 15px;
    color:#555C67;
    border-radius: 15px;
    opacity: 0.8;
    font-size:12px;
}

.make-tab-favicon{
    width:20px;
    height:20px;
    border-radius: 20px;
    margin-right:8px;
}

.cancel-full-screen{
    width:80px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items : center;
    position: fixed;
    bottom:30px;
    right:30px;
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--main-color);
    z-index:1020;
    color:var(--main-color);
    font-size:15px;
    border-radius:50%;
    text-align: center;
}