.make-cta-button{
    position: fixed;
    bottom:10px;
    width:50%;
    padding:5px 10px;
    background-color:blue;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}


.templateSelection{
    margin:5px;
    display: flex;
    justify-content : center;
    align-items :center;
    width:110px;
    height:80px;
    background-color:white;
    cursor:pointer;
}

.templatImage{

}

.sec-delete-button{
    width:30%;
    cursor:pointer
}
.sec-delete-button:hover{
    background-color:red;
}

.section-add-button{
    width:30%;
    cursor:pointer;
    display: flex;
    justify-content : center;
    align-items : center;
    border: 1px solid black;
}
.section-add-button:hover{
    background-color:#6a63f76e;
}
.footer-one-section{
    display: flex;
    flex-direction:row;
    width: 100%;
    align-items :center;
    justify-content :start;
    margin:5px 0px;
    text-align: left;
}

.make-which-section-making-button{
    border:none;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items :center;
    padding:2px 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    cursor: pointer;
}
.make-which-section-making-button:hover{
    background-color: #6a63f7a1;
}

.make-which-section-making-add-button{
    border:none;
    border-radius: 5px;
    padding:12px 15px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    cursor: pointer;
    background-color: #6a63f76e;
    margin-left:10px;
} 
.make-which-section-making-add-button:hover{
    background-color: #6a63f7a1;
}

.make-section-one-part{
    display:flex;
    justify-content:start;
    flex-direction:column;
    width:98%;
    margin-top:3%;
    background-color:white;
    border-radius:2px;
    padding:10px 15px;
}

.make-section-title{
    display:flex;
    justify-content:start;
    flex-direction:column;
    text-align:left;
    font-family: Noto Sans KR;
    font-weight: 500;
}

.upload-button{
    border: 1px solid rgb(211, 211, 211);
    display: flex;
    justify-content :center;
    align-items : center;
    flex-direction: column;
    padding:30px 20px;
    width:120px;
    border-radius:5px;
    cursor: pointer;
}
.upload-button:hover{
    border: 1px solid black;
}

/* 기존 디자인 없애기 */
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.answers-input{
    display: flex;
    flex-direction:row;
}

.answers-add-button{
    width:40%;
    padding:4px 5px;
    cursor:pointer;
    background-color:#6a63f7b0;
    border-radius: 5px;
    border:none;
}

.added-answer{
    display: flex;
    flex-direction:row;
    justify-content :flex-start;
    align-items : center;
    width:90%;
    border:1px solid rgb(194, 194, 194);
    margin:4px 0px;
    padding:5px 5px;
}

.answer-delete-button{
    margin:1%;
    padding:3px 10px;
    cursor:pointer;
    border-radius:5px;
    background-color:rgba(255, 0, 0, 0.329);
    font-size:10px;
}

.answer-delete-button:hover{
    background-color:rgba(255, 0, 0, 0.5);
}

.template-card{
    display: flex;
    flex-direction:column;
    padding:0px 5px;
    border: 1px solid rgb(199, 199, 199);
    
}

.template-card img{
    width:100px;
    height:70px;
}

.radio-button-design{
    border:1px solid #6B63F7;
}

.nemonemo{
    color:#6a63f78e;
    font-size:14px;
}

.fake-make{
    display: flex;
    padding-bottom:10%;
    left:0%;
    width:28vw;
    top:7vh;
    height:93vh;
    z-index:1;
}

.make-page-make-space{
    font-weight:500;
    flex-direction: column;
    display: flex;
    position:fixed;
    left:0%;
    width:28vw;
    top:0vh;
    padding-top:8vh;
    height:100vh;
    z-index: 2;
}

.overflow-scrolling {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    box-shadow: var(--default-shadow-01);
    background-color:rgb(255, 255, 255);
    border-radius: 0px 3px 0px 0px;
    padding-bottom:30px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.overflow-scrolling::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.title-desc-text{
    font-size:14px;
    margin:5px 0px;
}