.confirm-button{
    width:80px;
    margin:1%;
    background-color:white;
    padding:10px;
    font-size:1em;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    border:none;
    font-family: Noto Sans KR;
    border-radius: 5px;
}

.confirm-button:hover{
    opacity:0.9;
}

.confirm-message{
    font-family: Noto Sans KR;
    font-size:1.1em;
}

.confirm-button__container{
    height:20%;
    padding-top:1%;
    justify-content:end;
    border-top:1px solid rgba(0,0,0,0.1);
}

