.confirm-button{
    width:75px;
    margin:1%;
    background-color:white;
    padding:8px 12px;
    font-size:1em;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    border:none;
    border-radius: 5px;
}

.confirm-button:hover{
    opacity:0.9;
}

.confirm-message{
    font-size:1em;
    font-weight: normal;
}

.confirm-button__container{
    height:20%;
    padding-top:1%;
    justify-content:end;
    /* border-top:1px solid rgba(0,0,0,0.1); */
}

